// About page
.about-section {

    margin-top: 100px;
    h1 {
        text-align: center;
        font-weight: 600;
        margin: 30px auto 40px;
    }
    
    h4 {
        font-weight: 600;
        font-size: 16px;
    }
    
    p {
        text-align: left;
        font-size: 15px;
        
        &>a {
            font-weight: 600 !important;
            text-decoration: underline !important;
        }
    }
    
    ul>li {
        font-size: 15px;
        margin-bottom: 10px;
        //margin-bottom: 20px;
        //float: left;
        padding-left: 20px;
        background-image:url('../img/green-square.gif');
        background-position: 0px 7px;
        list-style: none;
        background-repeat: no-repeat;
        
        a {
            text-decoration: underline !important;
        }
    }
    
    
    
}

.resume-section {
    
    h2 {
        text-align: center;
        margin: 20px auto 40px;
        .section-title {
            text-align: center;
            //font-weight: 600;
        }
    }
    
    h4 {
        text-align: left;
        font-weight: 600;
        font-size: 1em;
        color: #333;
        margin-top:22px;
    }
    
    .resume-img {
        margin: auto;
        display: block;
        border-radius: 50%;
    }
    .experience-head {
        position: relative;
        //margin-bottom: 10px;
        //margin-top: 10px;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        margin: 0;
        
        p.job-title {
            font-weight:600;
            //float:left;
            display: inline;
            font-size: 1em;
            color: #333;
        }
        
        p.job-employer, p.job-range {
            font-size: .8em;
            color: #909090;
            padding-left: 20px;
            display: inline;
        }  
    }
    
    .experience-body {
        margin-bottom: 1em;
        color: #333;
        li {
            list-style: none;
        }
        h5 {
            font-weight: 400;
            font-size: .9em;
            margin-bottom: 5px;
        }
        p {
            font-size: .9em;
        }
        h6 {
            font-weight: 600;
            font-size: .9em;
            margin-bottom: 5px;
            margin-top: 20px;
            
            span {
                font-size: .9em;
                font-weight: 400;
                color: #909090;
                padding-left: 10px;
            }
        }
    }
    
    ul.skills-list {
        padding: 0;
        margin-left: 0;
        
        li {
            list-style: none;
            font-size: .9em;
        }
    }
    
    h4.skill-title {
        font-weight: 600;
        margin-top: 24px;
    }
    
    .panel-group {
        .panel {
            margin-bottom: 1em;
            border-radius: 4px;
            box-shadow: none;
            border: 0;
        }
      
        .panel-heading+.panel-collapse>.list-group, .panel-heading+.panel-collapse>.panel-body {
            border-top: 0;
        }
        .panel-heading {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding: 0px 15px;
        }
      
        .panel-body {
            border-width: 0px 1px 1px 1px;
            border-color: #f0f0f0;
            border-style: solid;
        }
    }
}

.resume-head {
    p>a {
        font-size: .9em;
        color: #909090;
    }
    
    h2 {
        text-align: left;
        margin: 15px auto;
        font-size: 1.6em;
    }
        
    
    h3 {
        font-size: 1.1em;
        font-weight: 600;
    }
}

.container {
    hr {
        margin: 20px 0;
    }
}

.panel-default {
   border: 1px solid #f0f0f0;
  .panel-heading {
     border: 1px solid #f0f0f0;
     background-color: transparent;
  }
  
}


.process-section {

    margin-top: 100px;
    
    h1 {
        text-align: center;
        font-weight: 600;
        margin: 30px auto 40px;
    }
    
    p.title-p {
        text-align: center;
        color: #696969;
    }
}

.process-link {
    font-weight: 500;
    text-decoration: underline;
}