// Contact page

// Contact section


.contact-section {
    margin-top: 110px;
    h1 {
        text-align: center;
        font-weight: 600;
        margin: 30px auto;
    }
    
    h2 {
        text-align:center;
        font-size:1.7em;
        margin:40px auto 30px ;
    }
    
    h3 {
        text-align:left;
        font-size:1.2em;
        font-weight:600;
        margin-top:50px;
    }
    
    hr {
        margin-top:30px;
    }
    
    p.title-text {
        font-size: 1.2em;
        font-weight: 400;
        line-height: 32px;
        padding: 0px 20px;
        color: #3c3c3c;
        margin-top: 40px;
        margin-bottom:10px;
        text-align: center;
    }
    
    ul > li {
        list-style:none;
        padding:0;
    }
        
    ul > li > p {
        color:#2d2f39;
    }
    
    ul > li > p > i.fa-check {
        color:$green;
    }
    
    ul > li > p > i.fa-times {
        color:#E86161;
    }
    
}

.hire-me-btn {
    background:$green;
    margin:20px auto 20px;
    border:none;
    outline:none;
    padding: 17px;
    border-radius:0;
    
    &:active, &:focus, &:hover {
        background:$grey-color-dark;
        outline:none;
        color:white;
    }
    
    
}
    

// Contact Form

.contact-form {
    margin-top:30px;
    
    label {
        font-weight:500;
        font-size:1.2em;
        
    }
    
    input[type="email"], input[type="text"] {
        height:50px;
        width:100%;
        box-shadow:none;
        border-radius:0;
        &:focus {
            border-color:$green;
        }
    }
    
    textarea {
        width:100%;
        box-shadow:none;
        border-radius:0;
        &:focus {
            border-color:$green;
            box-shadow:none;
        }
    }
    
    
}

// Availability Calendar

.av-calendar {
    position:relative;
    margin:50px auto 30px;

    
    .av-month {
        border-right:1px solid #e7e7e7;
        padding:0px 4px;
        text-align:center;
    }
    
    .av-calendar-item {
        height:50px;
        width:100%;
        margin-top:10px;
        cursor:pointer;
    }
    
    .av {
        background:#ADEA74;
        &:hover {
            background:#A2E265;
        }
    }
    
    .part-av {
        background:#FFB86F;
        &:hover {
            background:#FFA345;
        }
    }
    
    .not-av {
        background:#E86161;
        
        &:hover {
            background:#E85656;
        }
    }
    
    .passed-av {
        background:#E6E6E6;
    }
    
    .calendar-key {
        margin-top:30px;
        font-size: .9em;

        color: #616161;
        
        .key-item {
            display:block;
            margin-bottom:10px;
            line-height: 13px;
            
            i {
                font-size:1.2em;  
                margin-right: 5px;
                margin-left: 5px;
            }
            
            i.green {
                color:#ADEA74;
            }
            
            i.orange {
                color:#FFA345;
            }
            
            i.red {
                color:#E86161;
            }
        }
    }
    
}



@media screen and (max-width:767px) {
    .contact-section ul {
        margin:0;
    }
    
    .contact-section h2 {
        line-height: 2.1em;
    }
}