@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic,900);
html {
  font-size: 14px; }

body {
  font-family: "Lato", serif;
  background-color: #f8f8f8; }

a, a:hover, a:active, a:visited {
  text-decoration: none; }

.align-center {
  text-align: center; }

.centered {
  width: inherit;
  margin: auto;
  display: block; }

.box-shadow, .title-banner, .container-box {
  -webkit-box-shadow: 0 1px 4px 0 #dadada;
  box-shadow: 0 1px 4px 0 #dadada; }

.left {
  float: left; }

.right {
  float: right; }

header .navbar {
  background: #2e302f;
  border-radius: 0px;
  height: 60px;
  margin: 0; }
header .navbar-header {
  height: 59px;
  margin: 0;
  overflow: hidden; }
header .navbar-brand {
  height: 59px;
  padding: 18px 15px;
  font-size: 20px;
  color: #63dd97;
  font-weight: 700;
  background: #262827; }
header .navbar-right {
  margin-top: 4px; }
header .navbar-nav > li > a {
  color: #b7b7b7;
  font-size: 1em; }
  header .navbar-nav > li > a:hover, header .navbar-nav > li > a:active, header .navbar-nav > li > a:visited, header .navbar-nav > li > a a:link {
    background: transparent !important; }
  header .navbar-nav > li > a:hover, header .navbar-nav > li > a:active {
    color: #63dd97; }
  header .navbar-nav > li > a .avatar {
    display: block;
    float: left;
    height: 40px;
    width: 40px;
    background: #222423;
    border-radius: 20px;
    overflow: hidden;
    margin-top: -9px;
    margin-right: 12px;
    padding: 9px;
    text-align: center;
    color: #393b3a; }
header .navbar-nav > li:hover, header .navbar-nav > li:active, header .navbar-nav > li:visited, header .navbar-nav > li a:link {
  background: transparent !important; }
header .navbar-nav > li > .dropdown-menu {
  margin-top: 4px; }
header .caret {
  margin-left: 10px; }
header .subnav {
  position: relative;
  width: 100%;
  height: 46px;
  background: #f1f1f1;
  border-bottom: 1px solid #dcdce5;
  margin-bottom: 20px; }
  header .subnav .menu {
    list-style: none;
    padding: 0;
    height: 46px;
    width: 90%;
    float: left; }
  header .subnav .menu-item {
    display: inline-block;
    height: 43px;
    margin: 0px 29px 12px 0px;
    padding-top: 0px;
    height: 100%;
    font-size: .9em; }
  header .subnav .active {
    border-bottom: 3px solid #63dd97; }
  header .subnav .active > a {
    color: #646464 !important;
    font-weight: 600; }
  header .subnav .menu-item a {
    display: block;
    height: 43px;
    color: #919191;
    text-decoration: none;
    padding-top: 14px; }
    header .subnav .menu-item a:hover {
      color: #646464; }
  header .subnav .help-link {
    float: right;
    margin-top: 13px;
    color: #646464; }
    header .subnav .help-link:hover {
      color: #4dd085; }

.title-banner {
  position: relative;
  height: 60px;
  width: 100%;
  background: white;
  margin-bottom: 20px; }
  .title-banner .page-title h3 {
    margin: 18px 15px;
    font-size: 1.6em;
    font-weight: 300;
    color: #737373; }

.save-btn, .add-img-btns .add-img-btn, .add-img-btns .reset-img-btn {
  height: 36px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.1em;
  margin-top: 12px;
  color: white;
  background: #63dd97;
  box-shadow: 0px 1px 0px #4dd085;
  float: right;
  margin-right: 17px;
  text-shadow: 0 1px 0 #4dd085; }
  .save-btn:hover, .add-img-btns .add-img-btn:hover, .add-img-btns .reset-img-btn:hover, .save-btn:active, .add-img-btns .add-img-btn:active, .add-img-btns .reset-img-btn:active, .save-btn:focus, .add-img-btns .add-img-btn:focus, .add-img-btns .reset-img-btn:focus {
    color: white;
    background: #4dd085;
    outline: none; }

.container-box {
  background: white;
  min-height: 100px;
  width: 100%;
  padding: 11px;
  padding-bottom: 0px;
  border-top: 3px solid #767877;
  margin-bottom: 40px; }

.content .content-head {
  position: relative;
  height: 44px;
  border-bottom: 1px solid #e3e3e3; }
.content .title {
  font-size: 1.3em;
  font-weight: normal;
  color: #737373;
  float: left;
  margin: 7px 0px; }
.content .breadcrumbs {
  font-size: 1em;
  font-weight: normal;
  color: #dedede;
  float: right;
  padding-top: 6px; }
  .content .breadcrumbs a:link, .content .breadcrumbs a:visited {
    color: #a7a7a7;
    margin: auto 6px; }
  .content .breadcrumbs a:last-child {
    margin-right: 0px; }
  .content .breadcrumbs a:hover, .content .breadcrumbs a:active, .content .breadcrumbs a:focus {
    color: #4dd085;
    text-decoration: underline; }

.content-section h4 {
  margin: 25px 0px;
  font-size: 1.15em;
  color: #464646;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  line-height: normal; }
  .content-section h4:after {
    display: inline-block;
    content: "";
    height: 1px;
    background: #63dd97;
    position: absolute;
    width: 100%;
    margin-top: 9px;
    margin-left: 12px; }
.content-section label {
  color: #767676;
  font-size: 0.9em;
  font-weight: 600; }
.content-section input[type="text"], .content-section select {
  height: 43px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d6dbdc;
  box-shadow: none;
  background: #fcfcfc;
  font-size: 1em;
  color: #6e7173;
  margin-bottom: 22px; }
  .content-section input[type="text"]::-webkit-input-placeholder, .content-section select::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c4c7ca; }
  .content-section input[type="text"]::-moz-placeholder, .content-section select::-moz-placeholder {
    /* Firefox 19+ */
    color: #c4c7ca; }
  .content-section input[type="text"]:-ms-input-placeholder, .content-section select:-ms-input-placeholder {
    /* IE 10+ */
    color: #c4c7ca; }
  .content-section input[type="text"]:-moz-placeholder, .content-section select:-moz-placeholder {
    /* Firefox 18- */
    color: #c4c7ca; }
  .content-section input[type="text"]:focus, .content-section select:focus {
    outline-color: #63dd97;
    border-color: #63dd97; }
.content-section textarea {
  height: auto;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #d6dbdc;
  box-shadow: none;
  background: #fcfcfc;
  font-size: 1em;
  color: #6e7173;
  margin-bottom: 20px; }
  .content-section textarea:focus {
    outline: 0;
    border: 1px solid #63dd97;
    box-shadow: none; }
.content-section .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
.content-section .inputfile + label {
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: #2e302f;
  display: block;
  width: 130px;
  text-align: center;
  padding: 5px 10px;
  margin: 50px auto; }
.content-section .inputfile + label i {
  margin-right: 5px; }
.content-section .inputfile:focus + label,
.content-section .inputfile + label:hover {
  background-color: #4dd085; }
.content-section .inputfile + label {
  cursor: pointer; }
.content-section .inputfile + label * {
  pointer-events: none; }
.content-section .box {
  position: relative;
  height: 133px;
  width: 100%;
  border: 1px solid #d6dbdc;
  background: #fcfcfc; }

.add-keywords {
  display: table;
  position: relative;
  border-spacing: separate; }
  .add-keywords input {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    border-radius: 4px 0px 0px 4px; }
  .add-keywords .input-group-btn {
    vertical-align: top; }
    .add-keywords .input-group-btn button {
      height: 43px;
      width: 83px;
      background: #63dd97;
      color: white;
      border: none; }
      .add-keywords .input-group-btn button:hover, .add-keywords .input-group-btn button:focus, .add-keywords .input-group-btn button:active {
        background: #4dd085;
        color: white !important;
        outline: none; }

.keyword {
  display: inline-block;
  background: #656766;
  border-left: 3px solid #4dd085;
  padding: 5px 8px;
  margin-right: 10px;
  margin-bottom: 10px; }
  .keyword span {
    color: white;
    font-size: 0.9em; }
  .keyword a {
    display: none; }
  .keyword:hover {
    background: #4dd085;
    text-shadow: 0 1px 0 #4dd085; }
  .keyword:hover a {
    display: inline;
    float: right;
    color: white;
    font-size: 0.9em;
    margin-left: 7px;
    margin-top: 2px;
    text-shadow: 0 1px 0 #4dd085; }

.total-products {
  font-size: 1em;
  color: #6e7173;
  font-weight: 400; }

.head-pagination .cd-pagination, .bottom-pagination .cd-pagination {
  padding-left: 0px;
  list-style: none; }
.head-pagination .cd-pagination li, .bottom-pagination .cd-pagination li {
  display: inline;
  margin: auto 6px; }
.head-pagination .cd-pagination li a, .bottom-pagination .cd-pagination li a {
  font-size: 1em;
  color: #6e7173;
  font-weight: 500; }
  .head-pagination .cd-pagination li a:hover, .bottom-pagination .cd-pagination li a:hover, .head-pagination .cd-pagination li a:active, .bottom-pagination .cd-pagination li a:active, .head-pagination .cd-pagination li a:focus, .bottom-pagination .cd-pagination li a:focus {
    color: #4dd085;
    font-weight: 700; }
.head-pagination .cd-pagination li .active, .bottom-pagination .cd-pagination li .active {
  color: #656766;
  font-weight: 700; }

.bottom-pagination {
  text-align: center; }
  .bottom-pagination .cd-pagination li {
    margin: auto 3px; }
  .bottom-pagination .cd-pagination li a {
    border: 1px solid #cbcbcb;
    padding: 5px 10px; }
    .bottom-pagination .cd-pagination li a:hover, .bottom-pagination .cd-pagination li a:active, .bottom-pagination .cd-pagination li a:focus {
      color: #4dd085;
      font-weight: 700;
      border-color: #63dd97; }
  .bottom-pagination .cd-pagination li.button a {
    border: 1px solid transparent;
    padding: 5px 10px;
    color: #969a9d; }
    .bottom-pagination .cd-pagination li.button a i {
      font-size: 0.9em;
      line-height: 1.5em;
      margin: auto 5px; }
    .bottom-pagination .cd-pagination li.button a:hover, .bottom-pagination .cd-pagination li.button a:active, .bottom-pagination .cd-pagination li.button a:focus {
      color: #4dd085;
      font-weight: normal;
      border-color: transparent; }
  .bottom-pagination .cd-pagination li a.active {
    border-color: #63dd97; }

.products-table table {
  border-bottom: 1px solid #d6dbdc; }
.products-table .table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #d6dbdc; }
.products-table table > tbody > tr > td {
  padding-top: 30px; }
.products-table table > tbody > tr > td .table-option {
  text-decoration: none; }
  .products-table table > tbody > tr > td .table-option:hover i {
    color: #4dd085; }
.products-table table > tbody > tr > td .table-option i {
  color: #6e7173;
  font-size: 1.2em; }
.products-table table > thead > tr > th {
  font-size: 0.9em;
  color: #d3d3d3;
  font-weight: 500;
  padding-bottom: 6px; }
.products-table .product-img {
  position: relative;
  width: auto;
  max-width: 65px; }
  .products-table .product-img img {
    border-radius: 4px;
    border: 1px solid #e7e7e7; }
.products-table table > tbody > tr > td .table-status i {
  font-size: 0.9em; }
.products-table table > tbody > tr > td a {
  text-decoration: none !important; }
.products-table table > tbody > tr > td .staged i, .products-table table > tbody > tr > td .active i {
  color: #87d359; }
.products-table table > tbody > tr > td .pending i {
  color: #f6b167; }
.products-table table > tbody > tr > td .disabled i {
  color: #c6c6c6; }
.products-table table > tbody > tr > td .table-status span {
  font-size: 1em;
  color: #6e7173;
  padding-left: 6px; }

.input-group {
  margin-bottom: 20px; }

.input-group-addon {
  padding: 5px 15px;
  height: 43px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #63dd97;
  border-color: #63dd97;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-radius: 0px 4px 4px 0px; }

.date input {
  height: 43px;
  margin-bottom: 0px !important;
  border-right-color: transparent !important; }

.banner-search {
  position: relative;
  height: 36px;
  width: 100%;
  margin: 12px auto;
  padding-right: 15px; }
  .banner-search input {
    background: #f8f8f8;
    border-color: #f8f8f8;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    box-shadow: none;
    color: #333; }
    .banner-search input:focus {
      border-color: #4dd085;
      border-width: 1px 0px 1px 1px;
      border-style: solid;
      outline: none !important;
      box-shadow: none; }
  .banner-search button {
    background: #63dd97;
    border: 1px solid #63dd97;
    color: white; }
    .banner-search button:hover, .banner-search button:active, .banner-search button:focus {
      color: white !important;
      border: 1px solid #4dd085 !important;
      background: #4dd085 !important; }

.table-filter {
  width: auto;
  height: 35px;
  position: relative;
  float: right;
  margin-top: 6px; }
  .table-filter .filter-item {
    float: left;
    border-left: 1px solid #e3e3e3; }
    .table-filter .filter-item .filter-dropdown, .table-filter .filter-item .filter-view {
      margin-left: 15px;
      margin-right: 15px;
      text-decoration: none !important; }
    .table-filter .filter-item .filter-dropdown ul {
      border-radius: 0px !important;
      background: #fcfcfc;
      padding-top: 0;
      padding-bottom: 0; }
      .table-filter .filter-item .filter-dropdown ul li a {
        padding: 8px 10px;
        border-bottom: 1px solid #d6dbdc;
        font-size: 0.9em;
        color: #767676; }
    .table-filter .filter-item .filter-dropdown .dropdown-label {
      color: #8c8e8f;
      text-decoration: none !important; }
      .table-filter .filter-item .filter-dropdown .dropdown-label span > i {
        margin-right: 6px; }
      .table-filter .filter-item .filter-dropdown .dropdown-label i {
        color: #595959; }
      .table-filter .filter-item .filter-dropdown .dropdown-label .fa-caret-down {
        color: #8c8e8f;
        padding-left: 6px; }
      .table-filter .filter-item .filter-dropdown .dropdown-label:hover .fa-caret-down, .table-filter .filter-item .filter-dropdown .dropdown-label:active .fa-caret-down, .table-filter .filter-item .filter-dropdown .dropdown-label:focus .fa-caret-down {
        color: #4dd085; }
    .table-filter .filter-item .filter-view span {
      color: #8c8e8f;
      margin-left: 5px; }
    .table-filter .filter-item .filter-view i {
      color: #595959; }
    .table-filter .filter-item .active span, .table-filter .filter-item:hover span {
      color: #595959; }
    .table-filter .filter-item .active i, .table-filter .filter-item:hover i {
      color: #4dd085; }

.sidebar {
  position: relative; }
  .sidebar .sidebar-product {
    position: relative;
    margin: 50px auto; }
  .sidebar .sidebar-tabs {
    position: relative;
    margin: 11px -12px 0px; }
    .sidebar .sidebar-tabs .nav-pills > li.active > a, .sidebar .sidebar-tabs .nav-pills > li.active > a:focus, .sidebar .sidebar-tabs .nav-pills > li.active > a:hover {
      color: #5e5e5e;
      background: transparent;
      border-left: 3px solid #4dd085;
      padding-left: 12px; }
    .sidebar .sidebar-tabs .nav > li {
      height: 55px;
      border-top: 1px solid #e3e3e3;
      margin: 0; }
      .sidebar .sidebar-tabs .nav > li a {
        padding: 17px 15px;
        color: #999;
        border-radius: 0px; }
        .sidebar .sidebar-tabs .nav > li a:hover, .sidebar .sidebar-tabs .nav > li a:active {
          color: #5e5e5e;
          background: transparent;
          border-left: 3px solid #4dd085;
          padding-left: 12px; }

.form-btn {
  margin: 0;
  height: 32px;
  font-size: 1em; }

.add-img-btns .add-img-btn {
  float: right;
  margin: 0px; }
.add-img-btns .reset-img-btn {
  float: left;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background: #E8E8E8;
  color: #929292;
  text-shadow: none;
  box-shadow: 0px 1px 0px #CECECE; }
  .add-img-btns .reset-img-btn:hover, .add-img-btns .reset-img-btn:active, .add-img-btns .reset-img-btn:focus {
    background: #333;
    color: white;
    box-shadow: 0px 1px 0px #000; }

.gallery {
  display: table;
  width: 100%;
  height: 405px;
  border: 1px solid #D6DBDC; }
  .gallery .gallery-row {
    display: table-row; }
  .gallery .gallery-cell {
    display: table-cell;
    width: 33%;
    height: 50%;
    border-right: 1px solid #D6DBDC;
    border-bottom: 1px solid #D6DBDC; }
  .gallery .last-row > .gallery-cell, .gallery .last-row > .gallery-cell:last-child {
    border-bottom: 0px; }
  .gallery .gallery-cell:last-child {
    border-right: 0px;
    border-bottom: 1px solid #D6DBDC; }
  .gallery .gallery-cell > .gallery-img, .gallery .gallery-cell > a > .gallery-img {
    display: block;
    margin: 14px auto;
    z-index: 1;
    height: 170px;
    width: 190px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -85px;
    margin-left: -95px; }
  .gallery .gallery-cell {
    position: relative;
    overflow: hidden; }
  .gallery .gallery-cell > .cell-hover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    position: absolute;
    display: none;
    z-index: 999; }
  .gallery .gallery-cell:hover .cell-hover {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: block;
    z-index: 999;
    cursor: pointer; }
  .gallery .cell-hover > .cell-actions {
    height: 32px;
    width: 75px;
    background: transparent;
    display: block;
    margin: 85px auto; }
  .gallery .cell-hover > .cell-actions > .cell-action {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: white;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    color: #666; }
    .gallery .cell-hover > .cell-actions > .cell-action:hover {
      color: white;
      background: #4dd085; }
  .gallery .gallery-cell > a > .three-dots {
    display: block;
    margin: auto;
    height: 7px;
    width: 37px;
    margin-left: -20px; }
  .gallery .main-tag {
    height: 34px;
    width: 36px;
    position: absolute;
    z-index: 99;
    margin: -1px;
    background: url("../img/main-tag.png"); }

.supplier-tab {
  position: relative;
  width: 100%;
  margin-bottom: 15px; }
  .supplier-tab .panel {
    box-shadow: none; }
  .supplier-tab .panel-heading {
    color: white;
    background: #656766;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    height: 43px;
    border: 0; }
  .supplier-tab .panel-title {
    font-size: 14px; }
  .supplier-tab .panel-title > a {
    display: block;
    height: 43px;
    padding: 14px 15px;
    background: #63dd97;
    text-decoration: none;
    text-shadow: 0 1px 0 #4dd085; }
  .supplier-tab .panel-group .panel {
    border-radius: 0px; }
  .supplier-tab .panel-default {
    border: none; }
  .supplier-tab .panel-title > a.collapsed {
    background: #2e302f;
    text-decoration: none;
    text-shadow: none; }
  .supplier-tab .panel-default > .panel-heading + .panel-collapse > .panel-body, .supplier-tab .panel-group .panel-heading + .panel-collapse > .list-group, .supplier-tab .panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent; }
  .supplier-tab .supplier-actions {
    float: right; }
    .supplier-tab .supplier-actions .supplier-action {
      display: inline-block;
      height: 43px;
      width: 43px;
      border-left: 1px solid #fff;
      margin-top: -14px;
      padding: 14px 15px; }
      .supplier-tab .supplier-actions .supplier-action:first-child {
        float: left; }
      .supplier-tab .supplier-actions .supplier-action:last-child {
        margin-right: -15px;
        float: right; }

#tree.pmTree ul {
  margin: 0px 0px 0px 20px;
  list-style: none;
  line-height: 16px; }
  #tree.pmTree ul li {
    font-size: 14px;
    position: relative; }
    #tree.pmTree ul li:before {
      position: absolute;
      left: -23px;
      top: 0px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 1em;
      border-bottom: 1px solid #ddd;
      width: 20px; }
    #tree.pmTree ul li:after {
      position: absolute;
      left: -23px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 115%; }
    #tree.pmTree ul li.root {
      margin: 0px 0px 0px -20px; }
      #tree.pmTree ul li.root:before {
        display: none; }
      #tree.pmTree ul li.root:after {
        display: none; }
    #tree.pmTree ul li:last-child:after {
      display: none; }

#tree.pmTree > ul {
  margin: 0px;
  outline: 0 !important; }

.custom-field .custom-label {
  width: 100%; }
  .custom-field .custom-label a {
    float: right;
    color: #919191;
    text-decoration: none; }

.custom-create {
  margin-top: 25px;
  margin-bottom: 22px;
  height: 42px;
  width: 100%;
  border-radius: 4px;
  background: #2e302f;
  font-size: 1.1em;
  color: white;
  border: none;
  padding-top: 7px;
  text-shadow: 0 1px 0 #333; }
  .custom-create:hover, .custom-create:active, .custom-create:focus {
    background: #4dd085 !important;
    color: white !important;
    text-shadow: none; }

@media screen and (max-width: 1024px) {
  .add-img-btn {
    margin-bottom: 20px !important; } }

/*# sourceMappingURL=main.css.map */
