---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "font",
        "layout",
        "syntax-highlighting"
;

// Custom Style

.page-content {
    min-height:500px;
}


// Header
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-bottom: 10px;
}

.navbar {
    margin:10px auto;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.menu-link {
    text-transform: capitalize;
}

.site-title {
    text-transform:uppercase;
    font-weight:400;
}

.site-title:hover, .site-title:focus {
    text-decoration:none;
}

.navbar-default .navbar-toggle {
    border-color: #fdfdfd;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fdfdfd;
}


//Exclusive Large screens setup
@media screen and (min-width:768px) {
    .container-fluid {
        margin:auto 50px;
    } 
    
    .navbar-nav li:last-child a {
        color: white;
        font-weight: 400;
        background: #17d676;
        padding: 10px 15px;
        margin: 6px auto 6px 24px;
    }
    
    .navbar-nav li:last-child a:hover {
        background: $grey-color-dark;
        color:white;
    }
}

//Exclusive Small screens setup
@media screen and (max-width:768px) {
   .navbar-collapse {
        border-bottom: 1px solid #e8e8e8;
    } 
    
    .header-title {
        margin-left:10px;
    }
}

//Content
.tagline {
    font-size: 1.6em;
    font-family:"Open Sans", Arial, sans-serif;
    font-weight: 600;
}

.about-me h1 {
    text-align:center;
    font-weight:700;
    margin-bottom: 40px;
}

.about-me p {
    font-size:1.2em;
    font-weight:400;
    line-height:32px;
    padding:0px 30px;
    //text-align: justify;
}

.about-me p .bold {
    font-weight:600;
}



//Footer
.copyright-text {
    font-size:0.9em;
    font-weight:100;
    text-align:center;
}

.twitter-button {
    text-align:center;
    margin:10px auto;
}